.elementor-2595 .elementor-element.elementor-element-60cd373 {
    margin-top: 22px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-2595 .elementor-element.elementor-element-66a707d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2595 .elementor-element.elementor-element-66a707d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2595 .elementor-element.elementor-element-7796339 .pxl-logo {
    text-align: left;
}

.elementor-2595 .elementor-element.elementor-element-7796339 .pxl-logo img {
    max-height: 42px;
}

.elementor-bc-flex-widget .elementor-2595 .elementor-element.elementor-element-4d6ccb1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2595 .elementor-element.elementor-element-4d6ccb1.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu .pxl-menu-primary {
    text-align: right;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu .pxl-menu-primary > li {
    float: none;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu2 .pxl-menu-primary {
    text-align: right;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu2 .pxl-menu-primary > li {
    float: none;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu .pxl-menu-primary > li > a {
    color: #FDFDFD;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu2 .pxl-menu-primary2 > li > a {
    color: #FDFDFD;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu .pxl-menu-primary > li > a:hover {
    color: #FF7268;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu2 .pxl-menu-primary2 > li > a:hover {
    color: #FF7268;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu .pxl-menu-primary > li.current-menu-parent > a, .elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu .pxl-menu-primary > li.current_page_item > a {
    color: #FF7268;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu2 .pxl-menu-primary2 > li.current-menu-parent > a, .elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-nav-menu .pxl-menu-primary2 > li.current_page_item > a {
    color: #FF7268;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-menu-primary .sub-menu li + li {
    margin-top: 0px;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 .pxl-menu-primary2 .sub-menu li + li {
    margin-top: 0px;
}

.elementor-2595 .elementor-element.elementor-element-3b75314 > .elementor-widget-container {
    margin: 0px -109px 0px 0px;
}

.elementor-bc-flex-widget .elementor-2595 .elementor-element.elementor-element-28bfbe2.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2595 .elementor-element.elementor-element-28bfbe2.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2595 .elementor-element.elementor-element-3cb64b6 .pxl-button {
    text-align: right;
}

.elementor-2595 .elementor-element.elementor-element-3cb64b6 .pxl-button .pxl-icon--right i, .elementor-2595 .elementor-element.elementor-element-3cb64b6 .pxl-button .pxl-icon--right .button-arrow-hover {
    margin-left: 10px;
}

@media(max-width: 1366px) {
    .elementor-2595 .elementor-element.elementor-element-4d6ccb1 > .elementor-element-populated {
        padding:0px 0px 0px 0px;
    }

    .elementor-2595 .elementor-element.elementor-element-3b75314 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(min-width: 768px) {
    .elementor-2595 .elementor-element.elementor-element-66a707d {
        width:19.197%;
    }

    .elementor-2595 .elementor-element.elementor-element-4d6ccb1 {
        width: 60.281%;
    }

    .elementor-2595 .elementor-element.elementor-element-28bfbe2 {
        width: 20.186%;
    }
}
