.elementor-15 .elementor-element.elementor-element-60cd373:not(.elementor-motion-effects-element-type-background),
.elementor-15 .elementor-element.elementor-element-60cd373>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-15 .elementor-element.elementor-element-60cd373 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-15 .elementor-element.elementor-element-60cd373>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-66a707d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-66a707d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-7796339 .pxl-logo {
    text-align: left;
}

.elementor-15 .elementor-element.elementor-element-7796339 .pxl-logo img {
    max-height: 42px;
}

.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-4d6ccb1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-4d6ccb1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-3b75314 .pxl-nav-menu .pxl-menu-primary {
    text-align: right;
}

.elementor-15 .elementor-element.elementor-element-3b75314 .pxl-nav-menu .pxl-menu-primary>li {
    float: none;
}

.elementor-15 .elementor-element.elementor-element-3b75314 .pxl-nav-menu2 .pxl-menu-primary {
    text-align: right;
}

.elementor-15 .elementor-element.elementor-element-3b75314 .pxl-nav-menu2 .pxl-menu-primary>li {
    float: none;
}

.elementor-15 .elementor-element.elementor-element-3b75314 .pxl-menu-primary .sub-menu li+li {
    margin-top: 0px;
}

.elementor-15 .elementor-element.elementor-element-3b75314 .pxl-menu-primary2 .sub-menu li+li {
    margin-top: 0px;
}

.elementor-15 .elementor-element.elementor-element-3b75314>.elementor-widget-container {
    margin: 0px -109px 0px 0px;
}

.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-28bfbe2.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-28bfbe2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-3cb64b6 .pxl-button {
    text-align: right;
}

.elementor-15 .elementor-element.elementor-element-3cb64b6 .pxl-button .pxl-icon--right i,
.elementor-15 .elementor-element.elementor-element-3cb64b6 .pxl-button .pxl-icon--right .button-arrow-hover {
    margin-left: 10px;
}

@media(max-width:1366px) {
    .elementor-15 .elementor-element.elementor-element-4d6ccb1>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-3b75314>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-15 .elementor-element.elementor-element-66a707d {
        width: 18.78%;
    }

    .elementor-15 .elementor-element.elementor-element-4d6ccb1 {
        width: 61.28%;
    }

    .elementor-15 .elementor-element.elementor-element-28bfbe2 {
        width: 19.604%;
    }
}