.elementor-48 .elementor-element.elementor-element-b582385:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-b582385 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(90deg, #FF7369 0%, #FFB06D 100%);
}

.elementor-48 .elementor-element.elementor-element-b582385, .elementor-48 .elementor-element.elementor-element-b582385 > .elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-48 .elementor-element.elementor-element-b582385 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 108px 134px 138px 118px;
    z-index: 1;
}

.elementor-48 .elementor-element.elementor-element-b582385 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-48 .elementor-element.elementor-element-198bc7c .pxl-heading .pxl-item--title {
    color: #FDFDFD;
    font-family: "Quicksand", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 0px;
}

.elementor-48 .elementor-element.elementor-element-198bc7c .pxl-heading .pxl-item--subtitle {
    margin-bottom: 0px;
}

body:not(.elementor-editor-active) .elementor-48 .elementor-element.elementor-element-a977224 .pxl-particle .elementor-repeater-item-878d74c {
    left: -118px;
    bottom: -141px;
}

body:not(.elementor-editor-active) .elementor-48 .elementor-element.elementor-element-a977224 .pxl-particle .elementor-repeater-item-502f859 {
    left: -118px;
    bottom: -141px;
}

.elementor-48 .elementor-element.elementor-element-9765519 > .elementor-element-populated {
    margin: 10px 0px -10px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

body:not(.elementor-editor-active) .elementor-48 .elementor-element.elementor-element-bc024ae .pxl-particle .elementor-repeater-item-2030ef1 {
    top: -124px;
    right: -134px;
}

body:not(.elementor-editor-active) .elementor-48 .elementor-element.elementor-element-bc024ae .pxl-particle .elementor-repeater-item-c211acd {
    top: -124px;
    right: -134px;
}

.elementor-48 .elementor-element.elementor-element-05ffd96 .pxl-text-editor {
    color: #FDFDFD;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
}

.elementor-48 .elementor-element.elementor-element-05ffd96 > .elementor-widget-container {
    margin: 0px 0px 31px 0px;
}

.elementor-48 .elementor-element.elementor-element-290a39c:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-290a39c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(90deg, #2F057B 0%, #6441C1 100%);
}

.elementor-48 .elementor-element.elementor-element-290a39c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -232px;
    margin-bottom: 0px;
    padding: 309px 0px 145px 0px;
}

.elementor-48 .elementor-element.elementor-element-290a39c > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-48 .elementor-element.elementor-element-aec3434 .pxl-logo img {
    max-height: 44px;
}

.elementor-48 .elementor-element.elementor-element-aec3434 > .elementor-widget-container {
    margin: 0px 0px 48px 0px;
}

.elementor-48 .elementor-element.elementor-element-a58df36 .pxl-map-wrap {
    width: 320px;
    height: 320px;
}

.elementor-48 .elementor-element.elementor-element-a58df36 > .elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-48 .elementor-element.elementor-element-92f3c9f .pxl-map-wrap {
    width: 320px;
    height: 320px;
}

.elementor-48 .elementor-element.elementor-element-92f3c9f .ci-desc {
    color: #FFFFFF;
}

.elementor-48 .elementor-element.elementor-element-92f3c9f .ci-desc a {
    color: #FFFFFF;
}

.elementor-48 .elementor-element.elementor-element-92f3c9f > .elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-48 .elementor-element.elementor-element-9e63b7a .pxl-map-wrap {
    width: 320px;
    height: 320px;
}

.elementor-48 .elementor-element.elementor-element-9e63b7a .ci-desc {
    color: #FFFFFF;
}

.elementor-48 .elementor-element.elementor-element-9e63b7a .ci-desc a {
    color: #FFFFFF;
}

.elementor-48 .elementor-element.elementor-element-85c7048 > .elementor-element-populated {
    margin: 14px 0px 0px 115px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 115px;
}

.elementor-48 .elementor-element.elementor-element-03b2e68 .pxl-heading {
    text-align: left;
}

.elementor-48 .elementor-element.elementor-element-03b2e68 .pxl-heading .pxl-item--title {
    color: #FDFDFD;
    text-transform: none;
    margin-bottom: -6px;
}

.elementor-48 .elementor-element.elementor-element-03b2e68 .pxl-heading .pxl-item--subtitle {
    margin-bottom: 0px;
}

.elementor-48 .elementor-element.elementor-element-1104a89 .pxl-link li + li {
    margin-top: -9px;
}

.elementor-48 .elementor-element.elementor-element-1104a89 > .elementor-widget-container {
    margin: -3px 0px 0px 0px;
}

.elementor-48 .elementor-element.elementor-element-9491b19 > .elementor-element-populated {
    margin: 14px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-48 .elementor-element.elementor-element-1cd19de .pxl-heading .pxl-item--title {
    color: #FDFDFD;
    text-transform: none;
    margin-bottom: -6px;
}

.elementor-48 .elementor-element.elementor-element-1cd19de .pxl-heading .pxl-item--subtitle {
    margin-bottom: 0px;
}

.elementor-48 .elementor-element.elementor-element-3c13f3d .pxl-link li + li {
    margin-top: -9px;
}

.elementor-48 .elementor-element.elementor-element-3c13f3d > .elementor-widget-container {
    margin: -3px 0px 0px 0px;
}

.elementor-48 .elementor-element.elementor-element-de33729 > .elementor-element-populated {
    margin: 14px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-48 .elementor-element.elementor-element-2475fc5 .pxl-heading .pxl-item--title {
    color: #FDFDFD;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    line-height: 30px;
    margin-bottom: 9px;
}

.elementor-48 .elementor-element.elementor-element-2475fc5 .pxl-heading .pxl-item--subtitle {
    margin-bottom: 0px;
}

.elementor-48 .elementor-element.elementor-element-0212339 .pxl-icon1 a {
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    margin: 0 0px;
}

.elementor-48 .elementor-element.elementor-element-0212339 > .elementor-widget-container {
    margin: 0px 0px 23px 0px;
}

.elementor-48 .elementor-element.elementor-element-1df6393 .pxl-text-editor {
    color: #FDFDFD;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-48 .elementor-element.elementor-element-1df6393 .pxl-text-editor .pxl-title--highlight,.elementor-48 .elementor-element.elementor-element-1df6393 .pxl-text-editor a {
    color: #FF7369;
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-48 .elementor-element.elementor-element-76baf78 {
        width:50%;
    }

    .elementor-48 .elementor-element.elementor-element-85c7048 {
        width: 50%;
    }

    .elementor-48 .elementor-element.elementor-element-9491b19 {
        width: 50%;
    }

    .elementor-48 .elementor-element.elementor-element-de33729 {
        width: 50%;
    }
}

@media(max-width: 1366px) {
    .elementor-48 .elementor-element.elementor-element-b582385 {
        padding:65px 0px 95px 0px;
    }

    .elementor-48 .elementor-element.elementor-element-85c7048 > .elementor-element-populated {
        margin: 0px 0px 0px 80px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 80px;
    }

    .elementor-48 .elementor-element.elementor-element-9491b19 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-48 .elementor-element.elementor-element-de33729 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width: 1200px) {
    .elementor-48 .elementor-element.elementor-element-198bc7c .pxl-heading .pxl-item--title {
        font-size:50px;
        line-height: 1.2em;
    }

    .elementor-48 .elementor-element.elementor-element-85c7048 > .elementor-element-populated {
        margin: 0px 0px 0px 30px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 30px;
    }
}

@media(max-width: 1024px) {
    .elementor-48 .elementor-element.elementor-element-198bc7c .pxl-heading .pxl-item--title {
        font-size:35px;
        line-height: 1.2em;
    }

    .elementor-48 .elementor-element.elementor-element-290a39c {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 65px 0px 58px 0px;
    }

    .elementor-48 .elementor-element.elementor-element-85c7048 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-48 .elementor-element.elementor-element-9491b19 > .elementor-element-populated {
        margin: 40px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-48 .elementor-element.elementor-element-de33729 > .elementor-element-populated {
        margin: 40px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width: 880px) {
    .elementor-48 .elementor-element.elementor-element-9765519 > .elementor-element-populated {
        margin:30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width: 767px) {
    .elementor-48 .elementor-element.elementor-element-198bc7c .pxl-heading .pxl-item--title {
        font-size:30px;
    }

    .elementor-48 .elementor-element.elementor-element-aec3434 .pxl-logo img {
        max-height: 30px;
    }

    .elementor-48 .elementor-element.elementor-element-aec3434 > .elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }

    .elementor-48 .elementor-element.elementor-element-85c7048 > .elementor-element-populated {
        margin: 40px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(min-width: 768px) {
    .elementor-48 .elementor-element.elementor-element-76baf78 {
        width:30.178%;
    }

    .elementor-48 .elementor-element.elementor-element-85c7048 {
        width: 24.062%;
    }

    .elementor-48 .elementor-element.elementor-element-9491b19 {
        width: 20.918%;
    }

    .elementor-48 .elementor-element.elementor-element-de33729 {
        width: 24.842%;
    }
}

@media(max-width: 880px) and (min-width:768px) {
    .elementor-48 .elementor-element.elementor-element-7bf6128 {
        width:100%;
    }

    .elementor-48 .elementor-element.elementor-element-9765519 {
        width: 100%;
    }
}
