.elementor-10945 .elementor-element.elementor-element-c042401:not(.elementor-motion-effects-element-type-background), .elementor-10945 .elementor-element.elementor-element-c042401 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-10945 .elementor-element.elementor-element-c042401 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-10945 .elementor-element.elementor-element-c042401 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10945 .elementor-element.elementor-element-6f71de6 {
    padding: 0px 0px 50px 0px;
}

.elementor-10945 .elementor-element.elementor-element-1f2ad8d > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-cc1a53e .pxl-anchor-wrap {
    justify-content: active;
}

.elementor-10945 .elementor-element.elementor-element-cc1a53e .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-cc1a53e .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-cc1a53e .pxl-showcase .item--link + .item--link {
    margin-top: 15px;
}

.elementor-10945 .elementor-element.elementor-element-cc1a53e .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-2873b9c > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-d4120de .pxl-anchor-wrap {
    justify-content: active;
}

.elementor-10945 .elementor-element.elementor-element-d4120de .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-d4120de .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-d4120de .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-cd3a6f1 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-419380b .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-419380b .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-419380b .pxl-showcase .item--link + .item--link {
    margin-top: 15px;
}

.elementor-10945 .elementor-element.elementor-element-419380b .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-68dbfdf > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-518a0de .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-518a0de .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-518a0de .pxl-showcase .item--link + .item--link {
    margin-top: 15px;
}

.elementor-10945 .elementor-element.elementor-element-518a0de .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-735bfad > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-7bffd5c .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-7bffd5c .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-7bffd5c .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-1a21d37 {
    padding: 0px 0px 50px 0px;
}

.elementor-10945 .elementor-element.elementor-element-28b47b7 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-7f6a3ea .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-7f6a3ea .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-7f6a3ea .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-23486ac > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-206f98b .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-206f98b .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-206f98b .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-bb86da7 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-3518f9e .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-3518f9e .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-3518f9e .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-0a7a29c > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-c94290d .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-c94290d .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-c94290d .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-d736ae7 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-bb8d20b .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-bb8d20b .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-bb8d20b .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-1e7106c > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-5786e09 .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-5786e09 .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-5786e09 .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-1cb6ce7 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-e337d37 .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-e337d37 .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-e337d37 .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-8c896c0 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-a18ec9d .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-a18ec9d .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-a18ec9d .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-90ce3fe > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-6c2338b .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-6c2338b .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-6c2338b .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-70d773d > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-3be83bc .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-3be83bc .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-3be83bc .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-55b3daa:not(.elementor-motion-effects-element-type-background), .elementor-10945 .elementor-element.elementor-element-55b3daa > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-10945 .elementor-element.elementor-element-55b3daa {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 50px 0px;
}

.elementor-10945 .elementor-element.elementor-element-55b3daa > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10945 .elementor-element.elementor-element-feaf250 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-7f001e3 .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-7f001e3 .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-7f001e3 .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-8776596 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-a84687a .pxl-anchor-wrap {
    justify-content: inactive;
}

.elementor-10945 .elementor-element.elementor-element-a84687a .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-a84687a .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-a84687a .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-5614041 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-6f88142 .pxl-anchor-wrap {
    justify-content: inactive;
}

.elementor-10945 .elementor-element.elementor-element-6f88142 .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-6f88142 .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-6f88142 .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-dcbcdf0 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-93b9e9b .pxl-anchor-wrap {
    justify-content: inactive;
}

.elementor-10945 .elementor-element.elementor-element-93b9e9b .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-93b9e9b .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-93b9e9b .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

.elementor-10945 .elementor-element.elementor-element-ea50722 > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-10945 .elementor-element.elementor-element-e1b8aa0 .pxl-anchor-wrap {
    justify-content: inactive;
}

.elementor-10945 .elementor-element.elementor-element-e1b8aa0 .pxl-showcase .item--image {
    height: 350px;
}

.elementor-10945 .elementor-element.elementor-element-e1b8aa0 .pxl-showcase .item--link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    min-width: 152px;
}

.elementor-10945 .elementor-element.elementor-element-e1b8aa0 .pxl-showcase .pxl-item--title {
    font-size: 16px;
    line-height: 0em;
}

@media(max-width: 1024px) {
    .elementor-10945 .elementor-element.elementor-element-cc1a53e .pxl-showcase .item--image {
        height:400px;
    }

    .elementor-10945 .elementor-element.elementor-element-cc1a53e .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-d4120de .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-d4120de .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-419380b .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-419380b .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-518a0de .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-518a0de .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-7bffd5c .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-7bffd5c .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-7f6a3ea .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-7f6a3ea .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-206f98b .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-206f98b .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-3518f9e .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-3518f9e .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-c94290d .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-c94290d .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-bb8d20b .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-bb8d20b .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-5786e09 .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-5786e09 .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-e337d37 .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-e337d37 .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-a18ec9d .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-a18ec9d .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-6c2338b .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-6c2338b .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-3be83bc .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-3be83bc .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-7f001e3 .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-7f001e3 .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-a84687a .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-a84687a .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-6f88142 .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-6f88142 .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-93b9e9b .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-93b9e9b .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }

    .elementor-10945 .elementor-element.elementor-element-e1b8aa0 .pxl-showcase .item--image {
        height: 400px;
    }

    .elementor-10945 .elementor-element.elementor-element-e1b8aa0 .pxl-showcase .pxl-item--title {
        font-size: 20px;
    }
}

@media(max-width: 767px) {
    .elementor-10945 .elementor-element.elementor-element-1f2ad8d > .elementor-element-populated {
        margin:0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-2873b9c > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-cd3a6f1 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-68dbfdf > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-28b47b7 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-23486ac > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-bb86da7 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-0a7a29c > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-1e7106c > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-1cb6ce7 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-8c896c0 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-90ce3fe > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-feaf250 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-8776596 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-5614041 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-dcbcdf0 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-10945 .elementor-element.elementor-element-ea50722 > .elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}
